{% extends "base.html" %}

{% block title %}My Blogs{% endblock title %}

{% block css_files %}
<h1>Welcome to my blog!! </h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit enim consequuntur nihil ipsa sint est earum in? Illum eius fugiat repellat aut voluptates tempora vel atque omnis facilis corporis, eveniet voluptate nisi qui animi expedita, a doloribus adipisci officia alias aperiam odit et sapiente est! Ipsam sunt accusantium necessitatibus natus.</p>
{% endblock css_files %}

{% block body %}{% endblock body %}
